In [1]:
# Set auto reload
%reload_ext autoreload
%autoreload 2

In [2]:
# Import libraries
import pandas as pd
import numpy as np

from http.client import HTTPSConnection
from dateutil.relativedelta import relativedelta

%config InlineBackend.figure_format = 'retina'

In [3]:
# Series code for macroecnomics variables
# The code can be found from BOT API
codes = [
        'EIMACROY00229',
        'EITRADERETM00384',
        'RLLFSWAGEM01158',
        'RLLFSWKM00079',
        'EILEIM00007',
        'EIPCIM00016',
        'EILEIM00013',
        'EILEIM00015',
        'EIPCIM00039',
        'EIPCIM00040',
        'EIPIIM00046',
        'EICEIM00003',
        'EICEIM00001',
        'XTEXIMPGX0M00599',
        'XTEXIMPGM0M00435',
        'MFFI00LTHHQ00904',
        'XTFDISCO00Q02980',
]

In [4]:
# Define BOT Parameters
APIKey = 'YOUR-KEY' #Hide for personal use
headers = {
    'X-IBM-Client-Id': APIKey,
    'accept': 'application/json'
}

In [5]:
# Define starting period
startPeriod = '2014-01-01' #Need ofrmat yyyy-mm-dd

# Define function to find prior year
def yearAgo(start, year):
  '''
  This is for macroeconomics variables transformation.
  It might require to use prior years data applied with formula.
  E.g. 12-Moving average for current month need 12 months before.
  '''
  start = pd.to_datetime(start)
  priorYear = start - relativedelta(years = year)
  return priorYear.strftime('%Y-%m-%d')

# The 2-years ago from startPeriod
print(f'2 years ago from start period: {yearAgo(startPeriod, 2)}')

2 years ago from start period: 2012-01-01

In [6]:
# Connect to BOT over API
dataRequest = []

for code in codes:
  link = f'/bot/public/observations/?series_code={code}&start_period={startPeriod}'
  connect = HTTPSConnection('apigw1.bot.or.th') #Reconnect every loop
  connect.request(
      'GET',
      link,
      headers = headers
  )
  response = connect.getresponse() #HTTPResponse
  data = response.read()
  data = pd.io.json.loads(data.decode('utf-8')) #To JSON
  value = pd.DataFrame.from_dict(
      data['result']['series'][0]['observations'],
      orient = 'columns'
  )
  # Data basis manipulation
  value['period_start'] = pd.to_datetime(
      value['period_start'],
      dayfirst = True
  ) #To datetime
  if data['result']['series'][0]['frequency'] == 'Monthly':
    value['period_start'] = value['period_start'] + pd.offsets.MonthEnd()
  elif data['result']['series'][0]['frequency'] == 'Quarterly':
    value['period_start'] = value['period_start'] + pd.offsets.QuarterEnd()
  elif data['result']['series'][0]['frequency'] == 'Semi-annual':
    value['period_start'] = value['period_start'].str.replace('H', 'Q', regex = True)
    value['period_start'] = value['period_start'] + pd.offsets.QuarterEnd()
  else:
    value['period_start'] = value['period_start'] + pd.offsets.YearEnd()
  # Get name of code series
  value = value.rename(
      columns = {'value': data['result']['series'][0]['series_name_eng']}
  )
  # Set period to index for mapping
  value = value.set_index('period_start')
  dataRequest.append(value)

In [7]:
# To DataFrame
df = pd.concat(
    dataRequest,
    axis = 1,
    sort = True
)

# Show table result
df.head(5)

             Core Consumer Price Index (2015=100)  ... Foreign Direct Investment Position United States Millions of USD
period_start                                       ...
2014-01-31                                    NaN  ...                                                NaN
2014-02-28                                    NaN  ...                                                NaN
2014-03-31                                    NaN  ...                                      16687.2100000
2014-04-30                                    NaN  ...                                                NaN
2014-05-31                                    NaN  ...                                                NaN

[5 rows x 17 columns]